div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div img{
    border: 2px solid wheat;
    border-radius: 15%;
    box-shadow: 4px 7px 7px 0px #000000;
    cursor: pointer;
    margin: 40px;
    transition: 1s;
}
body{
   background-image: url(IMG/pexels-fwstudio-164005.jpg);
}
button{
    background-color: wheat;
}