div{
    margin-top: 20px;
    text-align: center;
    
}
form{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}
body{
    background-image: url(IMG/4k-desktop-wallpaper.gif);
}
div img{
    margin-top: 20px;
}

